{%extends 'polls/base.html'%}

{%block content%}


<form action="{%url 'add_quest'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
<div class="form-error">{{form.non_field_errors}}</div>
    {{form.as_p}}




<!--    {%for f in form%}-->
<!--    <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}: </label>{{f}}</p>-->
<!--    <div class="form-error">{{f.errors}}</div>-->
<!--{%endfor%}-->

    <button type="submit">Добавить</button>

</form>





<!--    {%for f in form%}-->
<!--    <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}: </label>{{f}}</p>-->
<!--    <div class="form-error">{{f.errors}}</div>-->
<!--{%endfor%}-->

{%endblock%}
