{%extends 'polls/base.html'%}

{%block content%}

<form action="{% url 'vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!--    {% for choice in question.choice_set.all %}-->
<!--        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">-->
<!--        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>-->
<!--    {% endfor %}-->
    <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="poll" value="option1">
                            {{ question.option_one }}
                        </label> &nbsp;
                        <label>
                            <input type="radio" name="poll" value="option2">
                            {{ question.option_two }}
                        </label> &nbsp;
                        <label>
                            <input type="radio" name="poll" value="option3">
                            {{ question.option_three }}
                        </label> &nbsp;
                    </div>
                </div>
</fieldset>

<input type="submit" value="Vote">
</form>
{% endblock %}
